
div.valueAux {
  height: 45px;
}

div.valueAuxSelect {
  background-color: #cfcfcf !important;
}

div.botonera {
  background-color: #cfcfcf;
}
div.botonera:active {
  background-color: blue;
  color: white;
}

.triangle {
  width: 200px;
  height: 200px;
  transform: rotate(0deg);
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #f00202 50%, #f00202 100%);
}